.jumbotron {
    text-align: center;
    background-color: green;
    color: white;
    font-family: 'Average Sans', sans-serif;
}

body {
    background: #e0edc7;
}

h3 {
    font-family: 'Average Sans', sans-serif;
}


#wordimage {
    max-width: 300px;
    margin: auto;
}

img {
    max-width: 275px;
    height: auto;
    margin: auto;
    padding-bottom: 10px;
}


#maingame {
    max-width: 300px;
    height: auto;
    padding: 25px;
    border-style: dashed;
    border-width: 10px;
    border-color: green;
    text-align: center;
    margin-bottom: 20px;
}

#resetbutton {
    background-color: #28f157;
    border-width: 3px;
    border-color: green;
}

#resetbutton:hover {
    background-color: green;
    color: white;
}